---
layout: default
title: Jumpnow Technologies
---

<div id="home">
  <p><img src="/assets/jumpnow-header.png" alt="jumpnow-logo"></p>
  <p>
    <b>Jumpnow Technologies</b> is a software consulting company specializing <br />
    in <a href="https://www.qt.io/">Qt5</a> cross-platform GUI development and embedded Linux systems <br />
	running on <a href="http://www.raspberrypi.org">Raspberry Pi</a>,
	<a href="https://www.gumstix.com/">Gumstix</a>, 
	<a href="https://beagleboard.org">BeagleBone</a> 
	and <a href="http://www.nxp.com/products/microcontrollers-and-processors/arm-processors/i.mx-applications-processors/i.mx-6-processors:IMX6X_SERIES">NXP i.MX6</a>
    hardware.
  </p>
  <h1>Raspberry Pi</h1>
  <ul class="posts">
    {% for post in site.categories['rpi'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>BeagleBone</h1>
  <ul class="posts">
    {% for post in site.categories['beaglebone'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>Gumstix - Linux</h1>
  <ul class="posts">
    {% for post in site.categories['gumstix-linux'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>Wandboard</h1>
  <ul class="posts">
    {% for post in site.categories['wandboard'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>Yocto</h1>
  <ul class="posts">
    {% for post in site.categories['yocto'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>Gumstix - FreeBSD</h1>
  <ul class="posts">
    {% for post in site.categories['gumstix-freebsd'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>General FreeBSD</h1>
  <ul class="posts">
    {% for post in site.categories['freebsd'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
